@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fondo: rgb(245,245,250);
    --fondo2: #fafafa;
    --texto: rgb(25,17,40);
    --destacado1: rgb(35,30,66);
    --destacado2: rgb(0,127,135);
    --destacadoalt1: rgb(86,83,118);
    --destacadoalt2: rgb(36,76,99);

    --error: rgb(181,35,52);
    --errorhover: rgb(121, 22, 34);
}   

body { 
    background-color: var(--fondo); 
}

form {
    background-color: var(--fondo);
}

h1 {
    color: var(--texto) !important; 
    font-family: 'Outfit', serif;
    font-weight: bold;
}

h2, h3 {
    color: var(--texto) !important; 
    font-family: 'Outfit', serif;
    font-weight: bold;
}

label, p, input, button {
    color: var(--texto);
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    background-color: var(--destacadoalt1);
    border-color: var(--destacadoalt1);
}

.btn-primary:hover {
    background-color: var(--destacado1);
    border-color: var(--destacado1);
}

.btn-outline-primary {
    color: var(--destacado2);
    border-color: var(--destacado2);
}

.btn-outline-primary:hover {
    color: white !important;
    border-color: var(--destacadoalt2) !important;
    background-color: var(--destacadoalt2) !important;
}

.btn-danger{
    background-color: var(--error);
    border-color: var(--error);
}

.btn-danger:hover{
    background-color: var(--errorhover);
    border-color: var(--errorhover);
}

.text-primary{
    color: var(--destacadoalt2) !important;
}

.page-link{
    background-color: var(--destacadoalt1) !important;
    color: white !important;
}